@font-face {
    font-family: 'fontello';
    src: url('../font/fontello.eot?34138216');
    src: url('../font/fontello.eot?34138216#iefix') format('embedded-opentype'),
         url('../font/fontello.woff2?34138216') format('woff2'),
         url('../font/fontello.woff?34138216') format('woff'),
         url('../font/fontello.ttf?34138216') format('truetype'),
         url('../font/fontello.svg?34138216#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
  }


.main-heading {
    font-family: 'Righteous', cursive;
    color: #fff;
    font-size: 2rem;
    text-transform: uppercase;
}